<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FeaLabel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FeaLabel.Properties.Settings>
      <setting name="topMargin" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="leftMagin" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="labelWidth" serializeAs="String">
        <value>65</value>
      </setting>
      <setting name="labelHeight" serializeAs="String">
        <value>34</value>
      </setting>
      <setting name="columns" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="rows" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="verticalSpace" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="horizontalSpace" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="printLabelBorder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="openPdfAfterSaving" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pageWidth" serializeAs="String">
        <value>148</value>
      </setting>
      <setting name="pageHeight" serializeAs="String">
        <value>210</value>
      </setting>
      <setting name="pageSize" serializeAs="String">
        <value>A5</value>
      </setting>
      <setting name="logoPath" serializeAs="String">
        <value>images/logo.png</value>
      </setting>
    </FeaLabel.Properties.Settings>
  </userSettings>
</configuration>